div{
    color: blue;
    font-size: medium;
    font-family: cursive;
    background-color: burlywood;
    padding:10px;
    border-radius: 30px;
    margin-top: 20px;
    font-weight: 700;
    font-style: italic;
}